{% extends 'base.html.twig' %}

{% block title %}Author index{% endblock %}

{% block body %}
    <h1>Liste des auteurs</h1>

    <div class="d-flex justify-content-end">
        <a href="{{ path('app_author_new') }}" class="btn btn-primary">
            Nouvel auteur
        </a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Nationalité</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>
                    <a href="{{ path('app_author_show', {'id': author.id}) }}">
                        {{ author.id }}
                    </a>
                </td>
                <td>{{ author.firstName }}</td>
                <td>{{ author.lastName }}</td>
                <td>{{ author.nationality }}</td>
                <td>
                    <a href="{{ path('app_author_edit', {'id': author.id}) }}"
                    class="btn btn-warning btn-sm me-3">
                        Modifier
                    </a>

                    <a href="{{ path('app_author_delete', {'id': author.id}) }}"
                       class="btn btn-danger btn-sm">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
