{% extends 'base.html.twig' %}

{% block body %}

    <h2>{{ title }}</h2>

    <p>Il y a {{ productList | length }} résultats</p>

    <div class="row">

        {{ dump(productList) }}

        <div class="col-md-8">
            {{ include('/product/fragments/product-list.html.twig') }}
        </div>
        <div class="col-md-4">
            {{ include('/product/fragments/product-category-list.html.twig') }}
        </div>
    </div>

{% endblock %}

