{% extends 'blog-layout-with-sidebar.html.twig' %}

{% block body %}
    <div class="col-md-8">
        <div class="d-flex justify-content-end">
            <a href="{{ path('blog_edit_article', {'id': article.id}) }}"
            class="btn btn-success btn-sm">
                modifier cet article
            </a>
        </div>
        <h1>{{ article.title | capitalize }}</h1>
        <div>
            <p>
                publié le : {{ article.createdAt | date('d/m/Y') }}
                par : {{ article.author.fullName }}
            </p>
            <p class="text-end">{{ article.category.categoryName }}</p>
        </div>
        <hr>
        <div>
            {{ article.content }}
        </div>

        <hr>
        <h2>Les commentaires</h2>
        <div class="row">
            <div class="col-md-4">
                {% if commentForm is not null %}
                    <h4>Votre commentaire ici</h4>
                    {{ form_start(commentForm) }}
                    {{ form_rest(commentForm) }}
                    <button type="submit" class="btn btn-primary w-100">
                        Valider
                    </button>
                    {{ form_end(commentForm) }}
                {% else %}
                    <p>Impossible d'ajouter de nouveaux commentaires sur cet article</p>
                {% endif %}
            </div>
            <div class="col-md-8">
                {% for comment in article.comments %}
                    <p>Le
                        {{ comment.createdAt | date('d/m/Y') }}
                        à {{ comment.createdAt | date('H:i') }}
                        <br>
                        {{ comment.email }} a dit :

                    </p>
                    <div class="ms-4">
                        <h4>{{ comment.title }}</h4>
                        <p>
                            {{ comment.content }}
                        </p>
                    </div>
                    <hr class="mb-4">
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}


