{% extends 'blog-layout-with-sidebar.html.twig' %}

{% block body %}
    <div class="col-md-8">
        {% set formErrors = articleForm.vars.errors.form.getErrors(true) %}

        {% if formErrors|length > 0 %}
            <ul class="alert alert-danger">
                {% for error in formErrors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}


        {{ form_start(articleForm) }}
            {{ form_row(articleForm.title) }}

            <div class="row">
                <div class="col">
                    {{ form_row(articleForm.uploadedFile) }}
                </div>
                <div class="col">
                    {{ form_row(articleForm.category) }}
                </div>
            </div>

            {{ form_row(articleForm.content) }}




        {{ form_row(articleForm.tags) }}


            <button type="submit" class="btn btn-primary w-100">
                Valider
            </button>

        {{ form_end(articleForm) }}
    </div>

{% endblock %}

{% block sidebar %}{% endblock %}

