{% extends 'blog-layout-with-sidebar.html.twig' %}

{% block body %}

    <div class="col-md-8">
        <h1>{{ title }}</h1>

        <p>Il y a {{ articleList.totalItemCount }} articles en tout </p>
        <p>page {{ articleList.page ? articleList.page: 1 }} sur {{ articleList.pageCount }}</p>

        <table class="table">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Date de publication</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articleList %}
                <tr>
                    <td>
                        <a href="{{ path('blog_details', {'slug': article.slug}) }}">
                            {{ article.title | capitalize }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('blog_by_author', {'authorId': article.author.id}) }}">
                            {{ article.author.fullName }}
                        </a>
                    </td>
                    <td>{{ article.createdAt | date('d/m/Y') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="pagination">
            {{ knp_pagination_render(articleList) }}
        </div>
    </div>

{% endblock %}


