{% extends 'base.html.twig' %}

{% block title %}Hello PersonController!{% endblock %}

{% block body %}
    {{ form_start(personForm) }}
        {{ form_rest(personForm) }}
        <button type="submit" class="btn btn-primary w-100">
            Valider
        </button>
    {{ form_end(personForm) }}

    <h2>Liste des personnes</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Adresse</th>
            </tr>
        </thead>
        <tbody>
            {% for person in personList %}
                <tr>
                    <td>
                        {{ person.firstName }}
                        {{ person.lastName }}
                    </td>
                    <td>
                        {{ person.address.street }}
                        {{ person.address.zipCode }}
                        {{ person.address.city }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
