<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    {% block styles %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block scripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="container-fluid">
<div class="row justify-content-center">
    {{ include('blog/_navbar.html.twig') }}
    <div class="p-4 col-md-10 mt-5">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}

        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                <p>{{ message }}</p>
            </div>
        {% endfor %}


        <div class="row">
            <h2><i class="fa fa-home"></i> Hello</h2>
            <button class="btn btn-danger">Test</button>
            {% block body %}{% endblock %}
            {% block sidebar %}{% endblock %}
        </div>

    </div>
</div>

</body>
</html>
